beautifulsoup4
certifi
charset-normalizer
docutils
idna
Kivy
Kivy-Garden
numpy
opencv-python
packaging
Pillow
pyDeprecate
Pygments
pyparsing
requests
soupsieve
torch
torchmetrics
torchvision
typing-extensions
urllib3
